<section class = "card-header">

    <div class ="card-header__back-button">
        <a mat-button href="#" target="_blank">Back</a>
    </div>
   <div class = "card-header__copy">
    {{Title}}
   </div> 
</section> 
