.card-header {
    height: 200px;
    background: #1c4255;
    width: 414px;

 a {
     color: white;
 }

 &__back-button {
     padding: 3rem 3rem 0 0rem;
 }

 &__copy {
     font-size: 25px;
     color: white;
     font-weight: 500;
     padding: 2rem 3rem;
 }
}