.form {
    
    padding: 20px 0px;

    .mat-form-field {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 400;
    color: black;

}

&__contactButton {
margin: 60px 50px;
border-radius: 30px;
width: 310px;
height: 54px;
background: rgb(194, 147, 101);
color: white;
font-weight: 600;
border: 0;
text-transform: uppercase;
}

&__feild {
    padding: 10px 50px;
    color: black;
}


}

::ng-deep .mat-form-field-underline{   background-color: black !important; color: black!important; }
::ng-deep.mat-form-field-ripple {   background-color: black !important; color: black!important; }
::ng-deep .mat-form-field-label{ color:#000 !important;
}

::ng-deep .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, 
.iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] { 
    border: 0px !important;
    border-bottom: solid 1px !important;
    background: transparent !important;
    padding-right: 59px !important;
    font-size: 17px !important;
}