<section class="form">
  <form #form="ngForm" [formGroup]="contactCardForm" (ngSubmit)="submitDetails()">
  <mat-form-field class="form__feild">
      <input type="email" matInput  formControlName="firstName" [errorStateMatcher]="matcher"
        formControlName="firstName" placeholder="First name">
      <mat-error *ngIf="contactCardForm.hasError('firstName') && contactCardForm.hasError('required')">
        Please enter first name
      </mat-error>
      <mat-error *ngIf="contactCardForm.hasError('required')">
        first name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__feild">
      <input type="email" matInput  [errorStateMatcher]="matcher"
        formControlName="lastName" placeholder="Last name">
      <mat-error *ngIf="contactCardForm.hasError('lastName') && !contactCardForm.hasError('required')">
        Please enter last name
      </mat-error>
      <mat-error *ngIf="contactCardForm.hasError('required')">
        last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <span class="form__feild">
      <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
      [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.India" [maxLength]="15"
      [phoneValidation]="true" [separateDialCode]="separateDialCode"
      [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
    </ngx-intl-tel-input>
  </span>
    <mat-form-field class="form__feild">
      <input type="email" matInput [errorStateMatcher]="matcher" 
        formControlName="email" placeholder="Email">
      <mat-error *ngIf="contactCardForm.hasError('email') && !contactCardForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="contactCardForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button class ="form__contactButton" [disabled]="!contactCardForm.valid">Save</button>
  </form>

</section>